<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aspect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Aspect.Properties.Settings>
      <setting name="MaximizeOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeepImageOnScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SlideshowDurationInSeconds" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="GitHubUpdateUrl" serializeAs="String">
        <value>https://github.com/nonfinite/aspect</value>
      </setting>
      <setting name="UpdateToPreRelease" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
    </Aspect.Properties.Settings>
  </userSettings>
</configuration>